.custom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
    z-index: 3;
    max-width: 1144px;
    margin: 0 auto;
    width: 100%;
}
.custom-header ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}
.custom-header li{
    margin: 0 16px;
}
.custom-header li:last-child{
    margin-right: 0;
}
.custom-header li > a{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #202020;
    text-decoration: none;
}
.custom-header li > a.current{
    color: #CC0000;
}
.logo img{
    display: block;
    width: 100%;
}
.navbar,
.header-icons{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.header-icons .icon-search{
    background: #000;
    margin-right: 24px;
}
.header-icons .icon-cart{
    background: #000;
}
.header-icons .icon-cart,
.header-icons .icon-search,
.header__icon,
.header__icon--cart .icon{
    width: 24px;
    height: 24px;
}
.custom-header .navbar .mobile-menu{
    display: none;
}

#cart-notification{
    width: 100vw;
    border-width: .1em;
    top: 40px;
}
.custom-header .cart{
    width: 24px;
    height: 24px;
}
.custom-header .cart-count-bubble.custom{
    width: 16px;
    height: 16px;
    background: #CC0000;
    bottom: unset;
    left: unset;
    right: -5px;
    top: -6px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 8px;
    color: #FFFFFF;
}
.custom-header .cart-count-bubble.custom span{
    height: auto;
    display: block;
}

@media screen and (max-width: 1144px){
    .custom-header{
        max-width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 769px){
    .custom-header{
        height: 72px;
    }
    .navbar{
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }
    .navbar .header-icons .search{
        display: none;
    }
    .custom-header .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 170px;
    }
    .custom-header .navbar .icon-burger{
        width: 32px;
        height: 16px;
        background: #000;
    }
    .custom-header .navbar .desktop-menu{
        display: none;
    }
    .custom-header .navbar .mobile-menu{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100vw);
        background: #131824;
        left: 0;
        top: 0;
        padding: 80px 20px 0;
        z-index: 1;
        transition: 0.2s;
    }
    .custom-header .navbar .mobile-menu li>a{
        font-size: 21px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .custom-header .navbar .mobile-menu li>a.current{
        color: #CC0000;
    }
    .custom-header .navbar .mobile-menu ul{
        flex-direction: column;
    }
    .custom-header .navbar .mobile-menu.active{
        transform: translateX(0);
        transition: 0.2s;
    }
    .custom-header .navbar .mobile-menu .icon-close{
        width: 24px;
        height: 24px;
        background: #ffffff;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .mobile-search{
        position: relative;
    }
    .mobile-search input{
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-family: 'Mulish',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 15px 0;
        outline: none;

    }
    .mobile-search input:focus-visible {
        outline-offset: 0;
        box-shadow: none;
    }
    .mobile-search input::placeholder{
        font-family: 'Mulish',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.33;
    }
    .mobile-search .icon-search{
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        background: #fff;
        opacity: .33;
        top: 50%;
        transform: translateY(-50%);
    }
    .custom-header li{
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    }
}
