.cart-popup{
    position: fixed;
    width: 0vw;
    height: 0vh;
    background: #131824cc;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -100;
}
.cart-popup.active{
    z-index: 100;
    opacity: 1;
    transition: opacity 0.2s;
    width: 100vw;
    height: 100vh;
}
.cart-column{
    width: 360px;
    background: #ffffff;
    height: 100%;
    margin-left: auto;
    transform: translateX(360px);
}
.cart-popup.active .cart-column{
    transform: translateX(0);
    transition: transform 0.3s;
}

.cart-item_list{
    height: calc(100% - 168px);
    overflow-y: auto;
}

.cart-column_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    background: rgba(32, 32, 32, 0.05);
    padding: 0 20px;
}
.cart-column_top span{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #B4B4B4;
}
.cart-item{
    display: flex;
    padding: 18px;
    border-bottom: 1px solid rgba(32, 32, 32, 0.05);
}
.cart-item_img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    flex-shrink: 0;
}
.cart-item_img img{
    width: 100%;
    display: block;
}
.cart-item_info .title{
    margin: 0 0 15px;
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #202020;
}
.cart-item_info .price{
    margin-bottom: 16px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
}
.cart-item_info .price .current{
    color: #CC0000;
}
.cart-item_info .price .original{
    color: #b4b4b4;
    text-decoration: line-through;
    margin-left: 14px;
    font-weight: normal;
}
.cart-item .quantity.custom{
    height: 32px;
    width: 125px;
}
.cart-item .quantity.custom .quantity__button{
    width: 32px;
}
.cart-item .quantity.custom  .quantity__input[type=number]{
    width: 59px;
    outline: none;
}
#closePopupCart{
    width: 24px;
    height: 24px;
    background: #000;
}

.cart-column_bot{
    height: 115px;
    width: 100%;
    background: rgba(32, 32, 32, 0.05);
    padding: 19px 18px 15px;
}
.cart-column_bot .subtotal{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.cart-column_bot .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-column_bot .links .viewCart{
    display: block;
    padding: 14px 18px;
    background: #FFFFFF;
    border: 1px solid #202020;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #202020;
    text-decoration: none;
}
.cart-column_bot .links .default-btn{
    display: block;
    padding: 14px 18px;
    background: #CC0000;
    border: 1px solid #950000;
    box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
    border-radius: 4px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(32, 32, 32, 0.33);
    text-decoration: none;
}

.cart-popup .quantity.custom{
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    width: max-content;
    height: 48px;
}
.cart-popup .quantity__input[type=number]{
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.13);
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 63px;
    height: 100%;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #202020;
}
.cart-popup .quantity__button{
    box-shadow: inset 0px -2px 3px rgba(0, 0, 0, 0.13);
    color: #000000;
    height: 100%;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
}


@media screen and (max-width: 480px){
    .cart-column{
        width: 100%;
        transition: transform 0.3s;
    }
}
